li a {
    color: green;
}

body {
    background: white url("images/background.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
}